<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thyleaf.org">
<head th:replace="~{fragmentos :: cabecalho}"></head>
<body>
  <nav th:replace="~{fragmentos :: header}"></nav>
  <div class="container mb-9" align="center" style="margin-top: 30px">
    <h3>Erro! Por favor tente novamente!</h3>
    <h4 th:if="${error == 'Bad Request'}" th:text="${error}"></h4>
    <h4 th:if="${error != 'Bad Request'}">Erro desconhecido</h4>

    <div>
      <img src="https://github.com/hiag0liveira/Up-Car/blob/main/images/stitch-desperate.gif?raw=true" class="img-fluid mb-6"  width="500" height="500">
    </div>
    <a class="btn btn-danger" style="margin-top: 20px" th:href="@{~/}" role="button">Voltar</a>
  </div>

</body>
</html>